<div>
  <label for="">Username :</label>
  <input type="text" [(ngModel)]="user.username" >
</div>
<div>
  <label for="">Status :</label>
  <input type="radio" name="status" [(ngModel)]="user.status" [value]="true"> Active
  <input type="radio" name="status" [(ngModel)]="user.status" [value]="false"> Inactive
</div>
<div>
  <label for="">Type :</label>
  <select [(ngModel)]="user.type">
    <option *ngFor="let ut of userType" [value]="ut.id">{{ut.name}}</option>
  </select>
</div>
<br />

<!-- sample debug -->
<pre>{{user | json}}</pre>